<div id="<%= dom_id dealership %>">
  <p>
    <strong>Name:</strong>
    <%= dealership.name %>
  </p>

  <p>
    <strong>Cars:</strong>
    <ul>
    <% dealership.cars.order(:name).each do |c| %>
      <li><%= link_to c.name, c %> - <%= c.price %> - <%= c.state %></li>
    <% end %>
    </ul>
  </p>

</div>
