<p style="color: green"><%= notice %></p>

<%= render @dealership %>

<div>
  <p>
    <% if current_user.admin? %>
      <%= link_to "Edit this dealership", edit_dealership_path(@dealership) %>
      <%= button_to "Destroy this dealership", @dealership, method: :delete %>
    <% end %>
  </p>

  <%= link_to "Back to dealerships", dealerships_path %>
</div>
