<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

  <p>
    <strong>State:</strong>
    <%= car.state %>
  </p>

  <p>
    <strong>Dealerships:</strong>
    <ul>
    <% car.dealerships.each do |d| %>
      <li><%= d.name %></li>
    <% end %>
    </ul>
  </p>

</div>
