<p style="color: green"><%= notice %></p>

<%= render @car %>

<div>
  <p>
    <% if current_user.admin? %>
      <%= link_to "Edit this car", edit_car_path(@car) %>
    <% end %>
    <%# I left this button outside the guard so the tester can see the flash
      message "Not Authorized" if logged in with a "user" role %>
    <%= button_to "Destroy this car", @car, method: :delete %>
  </p>

  <%= link_to "Back to cars", cars_path %>
</div>
